<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
</body>
</html>
    <video id="htvideo" #htvideo name="htvideo" class="videobox" autoplay="autoplay"></video>
    <div class="buttons">
        <button (click)="startDetection()" style="background-color: #4CAF50;">Start</button>
        <button (click)="stopDetection()" style="background-color: rgb(189, 82, 82);">Stop</button>
    
    </div>

